<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.musicalstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MusicActivity"
            android:label="@string/app_music"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentActivity"
            android:label="@string/txt_paymentscreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailActivity"
            android:label="@string/app_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusicPlayActivity"
            android:label="@string/app_musicplay"
            android:screenOrientation="portrait" />
    </application>

</manifest>